/cpp/visual studio/CalculatorServer/.vs
/cpp/visual studio/CalculatorServer/Screenshot
/cpp/visual studio/CalculatorServer/Server/Debug
/cpp/visual studio/CalculatorServer/Server/x64
/cpp/visual studio/CalculatorServer/TesseractTest
/cpp/visual studio/CalculatorServer/x64
/python
/assets/image_recon/screenshot_2019-06-12-22-06-18.jpg
/assets/image_recon/screenshot_2019-06-12-22-06-09.jpg
/assets/image_recon/screenshot_2019-06-12-22-06-05.jpg
/assets/image_recon/screenshot_2019-06-12-22-05-56.jpg
/assets/image_recon/screenshot_2019-06-12-22-05-33.jpg
/assets/image_recon/screenshot_2019-06-12-22-05-23.jpg
/assets/image_recon/screenshot_2019-06-12-22-05-11.jpg
/assets/image_recon/screenshot_2019-06-12-22-04-42.jpg
/assets/image_recon/screenshot_2019-06-12-22-04-39.jpg
/assets/image_recon/screenshot_2019-06-11-22-21-28.jpg
/assets/image_recon/qhd_3.png
calculator-recognition-issues
*.zip
*.ggb
Thumbs.db
*x64
/cpp/visual studio/CalculatorServer/reader/x64
/cpp/visual studio/CalculatorServer/RerollBotConsole/*.user
/cpp/visual studio/CalculatorServer/RerollBotConsole/RerollBotConsole.aps
/cpp/visual studio/CalculatorServer/RerollBotConsole/x64
/cpp/visual studio/packages
.vs
Debug
desktop.ini