/cpp/visual studio/CalculatorServer/.vs
/cpp/visual studio/CalculatorServer/Screenshot
/cpp/visual studio/CalculatorServer/Server/Debug
/cpp/visual studio/CalculatorServer/Server/x64
/cpp/visual studio/CalculatorServer/TesseractTest
/cpp/visual studio/CalculatorServer/x64
/python
