[submodule "cpp/vcpkg"]
	path = cpp/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "cpp/visual studio/AssetViewer"]
	path = cpp/visual studio/AssetViewer
	url = https://github.com/Miraak7000/AssetViewer.git
	branch = master